<form [formGroup]="form" (submit)="addEvent()">
    <div>
        <label for="ime"> Ime: </label>
        <input type="text" formControlName="ime" name="ime"/>
    </div>
    <div>
        <label for="prezime"> Prezime: </label>
        <input type="text" formControlName="prezime" name="prezime"/>
    </div>
    <div>
        <button>
            @if (mode() === "add"){
                Dodaj 
            }
            @else{
                Izmeni
            }
        </button>
    </div>
</form>